/* Nitro button in friends list */
li[class*="channel-"]:has(a[href="/store"]) {
    display: none;
}

/*
	Payment settings
	By vee 💢#7262 on Vencord https://discord.gg/D9uwnFnqmd
*/
div[class*="header-"]:has(+ div[class*="premiumTab-"]),
div[class*="premiumTab-"] /* Nitro */,
div[class*="premiumTab-"] + div[class*="item-"] /* Server boost */,
div[class*="premiumTab-"] + div[class*="item-"] + div[class*="item-"] /* Subscriptions */,
div[class*="premiumTab-"] + div[class*="item-"] + div[class*="item-"] + div[class*="item-"] /* Gift inventory */,
div[class*="premiumTab-"] + div[class*="item-"] + div[class*="item-"] + div[class*="item-"] + div[class*="item-"] /* Billing */,
div[class*="premiumTab-"] + div[class*="item-"] + div[class*="item-"] + div[class*="item-"] + div[class*="item-"] + div[class*="separator-"]  /* Divider */ {
    display: none;
}

/* Nitro gift button in chat box */
div[class*="channelTextArea-"] div[class*="buttons-"] > button {
    display: none;
}

/* Nitro features in user profile customization */
#profile-customization-tab div[class*="tryItOutSection-"] {
    display: none;
}

/* Nitro features in server profile customization */
#profile-customization-tab:has(> div[class*="defaultColor-"]) div[class*="sectionsContainer-"] > div:nth-child(2) {
    display: none;
}
#profile-customization-tab:has(> div[class*="defaultColor-"]) div[class*="sectionsContainer-"] > div:first-child {
    border-bottom: none;
}

/* Nitro gif picker for avatar upload */
div[class*="imagePickerContainer-"] > div[class*="optionBox-"]:has(div[class*="gifGrid-"]) {
    display: none;
}

/* Avatar decorations section in profile customization */
div[class*="customizationSection-"]:has(div[class*="birthdayFeatureBorder-"]) {
    display: none;
}

/* Nitro icon when hovering on custom profile banners */
div[class*="userProfileInner-"] div[class*="premiumIconWrapper-"] {
    display: none;
}

/* Nitro banner when selecting quality for screen sharing */
div[class*="qualitySettingsContainer-"] div[class*="upsellBanner-"] {
    display: none;
}

/* Nitro button in emoji reactions while screen sharing */
#emoji-picker-tab-panel div[class*="tooltipContainer-"] {
    display: none
}
#emoji-picker-tab-panel div[class*="dropDownContainer-"] {
    margin-left: 0;
}

/* Nitro button when clicking on stickers */
div[class*="popoutContainer-"] button[class*="shinyButton-"] {
    display: none;
}

/* Super reaction buttons on message context menus */
div[class*="button-"]:has(path[d="M20.5 4C19.9477 4 19.5 4.44772 19.5 5V6.5H18C17.4477 6.5 17 6.94771 17 7.5C17 8.05228 17.4477 8.5 18 8.5H19.5V10C19.5 10.5523 19.9477 11 20.5 11C21.0523 11 21.5 10.5523 21.5 10V8.5H23C23.5523 8.5 24 8.05229 24 7.5C24 6.94772 23.5523 6.5 23 6.5H21.5V5C21.5 4.44772 21.0523 4 20.5 4Z"]),
div[class*="menu-"] div[class*="colorPremiumGradient-"] {
    display: none;
}

/* Super reaction button below message */
div[class*="reactionBtn-"]:has(path[d="M20.3397 14.2379C21.2318 14.4731 22.1292 14.5474 23 14.4789C22.9906 14.5151 22.9809 14.5514 22.9711 14.5876C21.5194 19.9201 15.9496 23.086 10.5309 21.6569C10.3451 21.6079 10.1619 21.5542 9.98145 21.4958C7.94618 20.8378 5.90941 20 3.77041 20H3.5C2.67157 20 2 19.3284 2 18.5C2 17.6716 2.67157 17 3.5 17C4.75918 17 3.9661 15.8584 3.47514 14.7655C3.28101 14.3334 2.86615 14 2.39244 14H1.5C0.671573 14 0 13.3284 0 12.5C0 11.6716 0.671573 11 1.5 11V11C2.38174 11 3.10559 10.3274 3.33171 9.47516C3.33726 9.45427 3.34287 9.43338 3.34856 9.41249V9.41249C3.53406 8.7311 2.9812 8.0187 2.44976 7.55366C2.17543 7.31362 2 6.96872 2 6.5C2 5.67157 2.67157 5 3.5 5V5C5.03983 5 6.4765 4.31861 7.78941 3.51404C10.0926 2.10261 12.9612 1.59744 15.7887 2.34316C15.827 2.35324 15.8651 2.36352 15.9031 2.374C15.4064 3.08271 15.0224 3.88574 14.7831 4.76493C13.6598 8.89108 16.1476 13.1323 20.3397 14.2379ZM9.26206 8.71607C8.70747 8.56981 8.13976 8.79579 7.83448 9.23964C7.62045 9.55083 7.19184 9.86027 6.69655 9.72964C6.24033 9.60932 5.88292 9.10507 6.13732 8.60064C6.78216 7.32202 8.27206 6.62396 9.72714 7.00771C11.1822 7.39146 12.1179 8.72923 12.0268 10.1539C11.9909 10.7159 11.4252 10.9767 10.969 10.8564C10.4737 10.7258 10.2597 10.2469 10.2324 9.87205C10.1935 9.33743 9.81666 8.86234 9.26206 8.71607ZM16.3671 14.9268C16.17 14.5422 15.7892 14.2404 15.3308 14.1195L10.6411 12.8827C10.1826 12.7618 9.69947 12.8357 9.33352 13.0718C8.95878 13.3135 8.70829 13.7284 8.7613 14.2422C8.93054 15.8827 10.1055 17.3278 11.821 17.7802C13.5365 18.2326 15.2881 17.5594 16.2681 16.222C16.575 15.8031 16.5688 15.3205 16.3671 14.9268Z"]) {
    display: none;
}

/* Nitro button when hovering on super reactions */
div[class*="burstReactionTooltipPrompt-"] {
    display: none;
}

div[class*="burstReactionTooltipSpacer-"] {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

/* Nitro theme selector */
div#appearance-tab div[class*="premiumFeatureBorder-"] {
    display: none;
}

/* Nitro only custom webcam background */
div[class*="newBackgroundTooltipContainer-"] {
    display: none;
}

/* Nitro icon on the top right quality badge on streams */
svg[class*="premiumStreamIcon-"] {
    display: none;
}
